# Eat Safe, Love

## Part 1: Database and Jupyter Notebook Set Up

Import the data provided in the `establishments.json` file from your Terminal. Name the database `uk_food` and the collection `establishments`.

Within this markdown cell, copy the line of text you used to import the data from your Terminal. This way, future analysts will be able to repeat your process.

e.g.: Import the dataset with the following code:
$ mongoimport --type json -d uk_food -c establishments --drop --jsonArray establishments.json

In [1]:
# Import dependencies
from pymongo import MongoClient
import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [24]:
# confirm that our new database was created
db = mongo.uk_food
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'uk_food')

In [4]:
# assign the uk_food database to a variable name
food_db = db.uk_food.find()
food_db

In [5]:
# review the collections in our new database
establishments = db.establishments.find()
establishments

In [29]:
# review the collections in our new database
db.uk_food.findOne()

TypeError: 'Collection' object is not callable. If you meant to call the 'findOne' method on a 'Collection' object it is failing because no such method exists.

In [7]:
# review a document in the establishments collection
db.establishments.find('BusinessName':)

In [8]:
# assign the collection to a variable

## Part 2: Update the Database

1. An exciting new halal restaurant just opened in Greenwich, but hasn't been rated yet. The magazine has asked you to include it in your analysis. Add the following restaurant "Penang Flavours" to the database.

In [9]:
# Create a dictionary for the new restaurant data

In [10]:
# Insert the new restaurant into the collection

In [11]:
# Check that the new restaurant was inserted

2. Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the `BusinessTypeID` and `BusinessType` fields.

In [12]:
# Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the BusinessTypeID and BusinessType fields

3. Update the new restaurant with the `BusinessTypeID` you found.

In [13]:
# Update the new restaurant with the correct BusinessTypeID

In [14]:
# Confirm that the new restaurant was updated

4. The magazine is not interested in any establishments in Dover, so check how many documents contain the Dover Local Authority. Then, remove any establishments within the Dover Local Authority from the database, and check the number of documents to ensure they were deleted.

In [15]:
# Find how many documents have LocalAuthorityName as "Dover"

In [16]:
# Delete all documents where LocalAuthorityName is "Dover"

In [17]:
# Check if any remaining documents include Dover

In [18]:
# Check that other documents remain with 'find_one'

5. Some of the number values are stored as strings, when they should be stored as numbers. Use `update_many` to convert `latitude` and `longitude` to decimal numbers.

In [19]:
# Change the data type from String to Decimal for longitude

In [20]:
# Change the data type from String to Decimal for latitude

In [21]:
# Check that the coordinates are now numbers